<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html>
<% if logged_in? %>
    <img src="/assets/library.jpg" id="background-image" /><br>
    <div class="row">
      <div class="col-lg-3 col-sm-6" style="height: 505px;overflow: hidden; margin-top: -50px">

        <div class="cards">
          <div class="card hovercard">
            <div class="cardheader">

            </div>
            <div class="avatar">
              <h1>
                <%= gravatar_for @current_user %>
                <br>
              </h1>
            </div>
            <div class="info">
              <div class="title">
                <h4>Biography:  <%= @current_user.bio %> </h4>
                <br>
                <h4>Institution: <%= @current_user.institution %> </h4>
                <br>
                <h4>Profession: <%= @current_user.profession %> </h4>
                <br>
                <%= link_to 'View Profile', current_user, class: 'btn btn-lg btn-primary',style:"color: white" %>
              </div>
              <br>
            </div>
          </div>

        </div>

      </div>




      <div class="col-md-6" style="height: 450px; padding-top: -50px;">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <br>
        <section class="micropost_form" style="overflow: hidden;align-content: center">
          <%= render 'shared/microposts_form' %>
        </section>
      </div>

    </div>
<% else %>
  <head>
    <link href='//fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <title><%= full_title(yield(:title)) %></title>

  </head>
  <body>
    <img src="/assets/library.jpg" id="background-image" /><br>
    <div class=" center jumbotron">
      <img src="/assets/PDRankLogo.jpg" id ="logo" />
      <h1>PDRank</h1>
      <h2>
        Ranking your PDF files in order of significance to your research needs. Upload your own choice of PDFs, or we can search them for you.
      </h2>
      <%= link_to 'Sign up now!', signup_path, class: 'signup-btn btn btn-lg btn-primary' %>
      <p></p>
      <style>
        input[type=text] {
          width: 400px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          color: black;
          background-color: white;
          background-image: url('searchicon.png');
          background-position: 10px 10px;
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
          -webkit-transition: width 0.2s ease-in-out;
          transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
          width: 100%;
        }
      </style>
      <form>
        <input type="text" name="search" placeholder="Search for a Topic or Document...">
      </form>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Upload <span class="text-muted">Your documents could saves lives.</span></h2>
        <p class="lead">By uploading your documents, you are contributing to a wealth of knowledge that will be made accessible to practicing doctors researching the latest treatment options for each disease. </p>
      </div>
      <div class="col-md-5">
        <img src="/assets/uploading.jpg" id="featuretteimages">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">Search <span class="text-muted">Let's you stay updated with the latest papers.</span></h2>
        <p class="lead">Find the most relevant papers based on symptoms and diseases. Papers are verified through certified users and are updated when they are considered outdated treatments.</p>
      </div>
      <div class="col-md-5 pull-md-7">
        <img src="/assets/searchbutton.jpg" id="featuretteimages">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Lastly, read for yourself!<span class="text-muted">Be updated on the latest treatments.</span></h2>
        <p class="lead">With our site, you will be confident about treating your patients or potentially understanding where your treatment comes from. </p>
      </div>
      <div class="col-md-5">
        <img src="/assets/1_stethoscope-512%20(1).jpg" id="featuretteimages">
      </div>
    </div>

    <hr class="featurette-divider">
<%end%>
  </body>
</html>
