
<% provide(:title, "Edit user") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <!--<%= render 'shared/error_messages', object: f.object %>-->

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :bio %>
        <%= f.text_field :bio, class: 'form-control' %>

        <%= f.label :institution %>
        <%= f.text_field :institution, class: 'form-control' %>

        <%= f.label :profession %>
        <%= f.text_field :profession , class: 'form-control' %>

        <%= f.label :sex %>
        <%= f.text_field :sex, class: 'form-control' %>

        <%= f.label :age %>
        <%= f.text_field :age, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        </br>

        <div class="actions">
            </div>


        <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <%= link_to 'Change Gravatar',"http://gravatar.com/emails", class: 'btn btn-primary' %>
        </div>

        <br>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>




  </div>
</div>