<% provide(:title, @user.name) %>
<img src="/assets/background.jpg" id="background-image2" />

<div class="container">
  <div class="row">


    <div class="col-lg-3 col-sm-6">

      <div class="cards">
        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar">
            <h1>
              <%= gravatar_for @user %>
              <br>
              <%= @user.name %>
            </h1>
          </div>
          <div class="info">
            <div class="title">
              <h4>Biography:  <%= @user.bio %> </h4>
              <br>
              <h4>Institution: <%= @user.institution %> </h4>
              <br>
              <h4>Profession: <%= @user.profession %> </h4>
              <br>
            </div>
            <br>
            <%= link_to 'Edit Profile', edit_user_path, class: 'btn btn-lg btn-primary',style:"color: white" %>

          </div>
        </div>

      </div>


      <div>
        <h5>Upload Document</h5>
        <%= form_for Document.new do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :file_file_name, class: 'form-control',:size=>"5" %>
            </div>

            <div class="form-group">
              <%= f.label :file %>
              <%= f.file_field :file, class: 'form-control'%>
            </div>

            <%= f.submit 'Upload', class: 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="col-md-8" >
        <% if @user.documents.any? %>
            <h3>(<%= @user.documents.count %>) Documents </h3>
            <ol class="documents">
              <%= render @documents %>
            </ol>
            <%= will_paginate @documents %>
        <% end %>
      </div>
    </div>





    <div class="col-md-8" style="height: 100%">

      <%= form_tag(:action => "search") do %>
          <%= label_tag(:search, "Search for Document or Topic") %>
          <%= text_field_tag :search %>
          <%= submit_tag("Submit") %>
      <% end %>


      <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 6</div>
          <br>
          <br>
          <div class = "container">
            <div class = "row">
              <object data="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" type="application/pdf" class="panel">
                <iframe src="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" width="100%" height="100%" style="border: none;">
                  This browser does not support PDFs. Please download the PDF to view it: <a href="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf">Download PDF</a>
                </iframe>
              </object>
            </div>
          </div>
        </div>


        <div class="mySlides fade">
          <div class="numbertext">2 / 6</div>
          <br>
          <br>
          <div class = "container">
            <div class = "row">
              <object data="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" type="application/pdf" class="panel">
                <iframe src="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" width="100%" height="100%" style="border: none;">
                  This browser does not support PDFs. Please download the PDF to view it: <a href="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf">Download PDF</a>
                </iframe>
              </object>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 6</div>
          <br>
          <br>
          <div class = "container">
            <div class = "row">
              <object data="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" type="application/pdf" class="panel">
                <iframe src="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" width="100%" height="100%" style="border: none;">
                  This browser does not support PDFs. Please download the PDF to view it: <a href="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf">Download PDF</a>
                </iframe>
              </object>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">4 / 6</div>
          <br>
          <br>
          <div class = "container">
            <div class = "row">
              <object data="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" type="application/pdf" class="panel">
                <iframe src="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" width="100%" height="100%" style="border: none;">
                  This browser does not support PDFs. Please download the PDF to view it: <a href="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf">Download PDF</a>
                </iframe>
              </object>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">5 / 6</div>
          <br>
          <br>
          <div class = "container">
            <div class = "row">
              <object data="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" type="application/pdf" class="panel">
                <iframe src="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" width="100%" height="100%" style="border: none;">
                  This browser does not support PDFs. Please download the PDF to view it: <a href="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf">Download PDF</a>
                </iframe>
              </object>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">6 / 6</div>
          <br>
          <br>
          <div class = "container">
            <div class = "row">
              <object data="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" type="application/pdf" class="panel">
                <iframe src="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf#page=1" width="100%" height="100%" style="border: none;">
                  This browser does not support PDFs. Please download the PDF to view it: <a href="/assets/Stat%20Properties%20traditional%20Phase%20I%20trials.pdf">Download PDF</a>
                </iframe>
              </object>
            </div>
          </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
      </div>

      <script>
          var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n) {
              showSlides(slideIndex += n);
          }

          function currentSlide(n) {
              showSlides(slideIndex = n);
          }

          function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";
              dots[slideIndex-1].className += " active";
          }
      </script>
      <br>
      <% if @user.microposts.any? %>
          <h3>Comments (<%= @user.microposts.count %>)</h3>
          <ol class="microposts" style="height: 100%">
            <%= render @microposts %>
          </ol>
          <%= will_paginate @microposts %>
      <% end %>
    </div>

  </div>
</div>
