<% provide(:title, @user.name) %>
<img src="/assets/bluebackground.jpg" id="background-image2" />
<style>
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333333;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }
</style>
<form>
  <input type="text" name="search" placeholder="Search..">
</form>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">

      <div class="cards">
        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar">
            <h1>
              <%= gravatar_for @user %>
              <%= @user.name %>
            </h1>
          </div>
          <div class="info">
            <div class="title">
              <h4>Biography: <%= @user.bio %></h4>

              <br>
              <h4>Institution: <%= @user.institution %> </h4>
              <br>
              <h4>Profession: <%= @user.profession %> </h4>
              <br>
            </div>
            <br>
            <%= link_to 'Edit Profile', edit_user_path, class: 'btn btn-lg btn-primary' %>

          </div>
        </div>

      </div>


      <div>
        <h5>Upload Document</h5>
        <%= form_for Document.new do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :file_file_name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :file %>
              <%= f.file_field :document, class: 'form-control'%>
            </div>

            <%= f.submit 'Upload', class: 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="col-md-8" >
        <% if @user.documents.any? %>
            <h3>(<%= @user.documents.count %>) Documents </h3>
            <ol class="documents">
              <%= render @documents %>
            </ol>
            <%= will_paginate @documents %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8" style="height: 100%">
      <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts" style="height: 100%">
            <%= render @microposts %>
          </ol>
          <%= will_paginate @microposts %>
      <% end %>
    </div>

  </div>
</div>
