<% provide(:title, @user.name) %>
<img src="/assets/bluebackground.jpg" id="background-image2" />

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        </br>
        <%= gravatar_for @user %>
        Name:
        <%= @user.name %>
        </br>
        Email
        <%= @user.email %>
        </br>
        profession
        <%= @user.profession %>
      </h1>
      <%= link_to 'Settings', edit_user_path, class: 'btn btn btn-lg btn-primary' %>
    </section>
  </aside>
</div>