<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.profession %>
        <%= @user.age %>
        <%= @user.email %>
        <%= @user.sex %>
        <%= @user.location %>
        <%= @user.bio %>
      </h1>
    </section>
  </aside>
</div>