<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to(image_tag('JamSeshLogo.jpg',
                          alt: 'JamSesh logo',
                          id: 'JamSesh-logo-image'),
                '#',
                class: 'logo-link navbar-brand') %>
    <%= link_to('JamSesh', '#', class: 'logo-link logo-name') %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li style = "color: white;"><%= link_to 'Home', root_path %></li>
        <li style = "color: white;"><%= link_to 'Help', help_path %></li>
        <li style = "color: white;"><%= link_to 'Sign up', signup_path, class: 'btn btn-lg btn-primary' %></li>
        <li style = "color: white;"><%= link_to 'Login', signup_path, class: 'btn btn-lg btn-primary' %></li>
      </ul>
    </nav>
  </div>
</header>